---
layout: layout
front: true
title: "Sharon's Cookbook"
regions:
---
<section class="region divided highlight" id="home"><div class="inner">
  <h1 class="title">American recipes you'll love</h1>
  <p itemprop="description">This is a textual description of the book.</p>
</div></section>
<section class="region divided"><div class="inner">
  <h2>Recipes</h2>
  {% assign groups = site.recipes | group_by: "category" | sort: "name" %}
  {% for group in groups %}
    <h3>{{ group.name }}</h3>
    <ul>
    {% for item in group.items %}
      <li><a href="{{ site.subpath }}{{ item.url }}">{{ item.title }}</a></li>
    {% endfor %}
    </ul>
  {% endfor %}
</div></section>
