---
layout: layout
front: true
title: "Sharon's Cookbook"
regions:
---
<section class="region divided highlight" id="home"><div class="inner">
  <h1 class="title">American recipes you'll love</h1>
  <p itemprop="description">A collection of recipes from noted home cook and 
  caterer Sharon Turner, including family recipes from her mother Dolly Czerniak 
  and others from friends and family.</p>
</div></section>
<section class="region divided"><div class="inner">
  <h2>Book</h2>
  <p>The book is available as a digital download, updated whenever the site is. 
  Download the latest version at any time:</p>
  <ul>
    <li><a href="{{ site.subpath }}/assets/build/sharons-cookbook.epub">.epub format for most e-readers</a></li>
    <li><a href="{{ site.subpath }}/assets/build/sharons-cookbook.pdf">PDF for desktop reading</a></li>
    <li><a href="{{ site.subpath }}/assets/build/sharons-cookbook.mobi">Kindle format (untested)</a></li>
    <li><a href="{{ site.subpath }}/assets/build/sharons-cookbook.docx">Word processor (like Microsoft Word)</a></li>
    <li><a href="{{ site.subpath }}/assets/build/sharons-cookbook.md.txt">Plain text (markdown)</a></li>
    <li><a href="{{ site.subpath }}/ebook/">One long, plain webpage</a></li>
  </ul>
</div></section>
<section class="region divided"><div class="inner">
  <h2>Recipes</h2>
  {% assign groups = site.recipes | group_by: "category" | sort: "name" %}
  {% for group in groups %}
    <h3 id="category-{{ group.name | slugify }}">{{ group.name }}</h3>
    <ul>
    {% for item in group.items %}
      <li><a href="{{ site.subpath }}{{ item.url }}">{{ item.title }}</a></li>
    {% endfor %}
    </ul>
  {% endfor %}
</div></section>
